[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "gitflow"]
	path = gitflow
	url = https://github.com/datasift/gitflow
[submodule "vundle"]
	path = vundle
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "myzsh"]
	path = myzsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
